@import 'utility';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  background-color: rgb(4, 175, 213);
  font: $base-text-size / 1 $base-font-family;
}

header {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: orange;
    font-size: 30px;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 5px;
  }
}

main {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      margin-bottom: 10px;

      textarea {
        margin-bottom: 30px;
      }
    }
  }
}

.Home {
  display: flex;
  justify-content: center;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
  }
}

.WordList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  a {
    color: orange;
    text-decoration: none;
  }
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
