@import 'utility';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  background-color: rgb(4, 175, 213);
  font: $base-text-size / 1 $base-font-family;
}

header {
  display: flex;
  justify-content: center;

  .titleLink {
    text-decoration: none;
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

main {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      margin-bottom: 10px;

      textarea {
        margin-bottom: 30px;
      }
    }
  }
}

.definition {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: orange;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
