@import 'utility';

html {
  @include full-height;
}

body {
  background-color: rgb(209, 209, 209);
  font: $base-text-size / 1 $base-font-family;
  height: 100vh;
}

.searchbar {
  input.search {
    width: 75px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    input.search:focus {
      width: 175px;
    }
  }
}


a {
  &:link,
  &:visited {
    color: $link-color;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    color: $link-color-hover;
  }

  &:active {
    color: orange;
  }
}

button {
  background-color: white;
  border-radius: 5px;
}

.App {
  max-width: 720px;
  height: 100vh;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Entry {
  h2,
  p {
    color: orange;
  }
}

.Browse {
  ul {
    list-style: none;
  }

  h2 {
    color: orange;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  ul {
    @include reset-list;

    display: flex;
    justify-content: space-around;
    text-transform: uppercase;

    a.active {
      color: hsl(208, 89%, 32%);
    }
  }
}

main {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.Home {
  text-align: center;

  .random ul {
    @include reset-list;

    display: flex;
    justify-content: center;

    li {
      padding: 1em;
    }
  }
}

.AddWord {
  color: orange;
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
}
